<html>
<head>
<title>Choose</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/external.css') }}"/></head>
</head>
<body>
<form action="{{ url_for('signout') }}" method = "POST">
<input type = "submit" value= "Exit">
</form>
<h1>Hello, {{group}} {{user}}!</h1>

{% if group=="student" %}
<h2>Tests:</h2>
<table>
{% for item in tests %}
<tr>
<form>
<td><input type='text' value='{{item[0]}}' name='testname' readonly></td>
<td><input type="submit" value=">Start" formmethod="post" formaction="{{ url_for('start') }}"></td>
</form>
</tr>
{% endfor %}
</table>
{% endif %}

{% if group=="teacher" %}
<form method='POST' action="{{ url_for('create') }}">
<input type="text" placeholder="Test name" name="testname" required>
<input type="submit" value="+create">
</form>
<hr>

<h2>Tests:</h2>
<table>
{% for item in tests %}
<tr>
<form>
<td><input type='text' value='{{item[0]}}' name='testname' readonly></td>
<td><input type="submit" value="#edit" formmethod="post" formaction="{{ url_for('edit') }}"></td>
<td><input type="submit" value="-delete" formmethod="post" formaction="{{ url_for('delete') }}"></td>
</form>
</tr>
{% endfor %}
</table>


{% endif %}

</body>
</html>